body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f6f1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background-color: #e0bc66;
    color: #f9f6f1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

 
